.equipos h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: map-get($tam-fuente, tam3);
}

.pilotos{
    border-bottom: 1px solid $colorSecundario;
    border-right: 1px solid $colorSecundario;
    border-radius: 15px 0px;
    width: 150px;
    height: 180px;
}

.ferrari{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    object-fit: contain;
    justify-items: center;
    border-top: 3px solid $colorPrincipal;
    border-right: 3px solid $colorPrincipal;
    border-radius: 0px 30px;
}

.redBull{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    object-fit: contain;
    justify-items: center;
    border-top: 3px solid $colorPrincipal;
    border-right: 3px solid $colorPrincipal;
    border-radius: 0px 30px;
}

.mclaren{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    object-fit: contain;
    justify-items: center;
    border-top: 3px solid $colorPrincipal;
    border-right: 3px solid $colorPrincipal;
    border-radius: 0px 30px;
}

.mercedes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    object-fit: contain;
    justify-items: center;
    border-top: 3px solid $colorPrincipal;
    border-right: 3px solid $colorPrincipal;
    border-radius: 0px 30px;
}

.astonMartin{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    object-fit: contain;
    justify-items: center;
    border-top: 3px solid $colorPrincipal;
    border-right: 3px solid $colorPrincipal;
    border-radius: 0px 30px;
}

.vcrb{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    object-fit: contain;
    justify-items: center;
    border-top: 3px solid $colorPrincipal;
    border-right: 3px solid $colorPrincipal;
    border-radius: 0px 30px;
}

.alpine{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    object-fit: contain;
    justify-items: center;
    border-top: 3px solid $colorPrincipal;
    border-right: 3px solid $colorPrincipal;
    border-radius: 0px 30px;
}

.haas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    object-fit: contain;
    justify-items: center;
    border-top: 3px solid $colorPrincipal;
    border-right: 3px solid $colorPrincipal;
    border-radius: 0px 30px;
}

.williams{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    object-fit: contain;
    justify-items: center;
    border-top: 3px solid $colorPrincipal;
    border-right: 3px solid $colorPrincipal;
    border-radius: 0px 30px;
}

.sauber{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    object-fit: contain;
    justify-items: center;
    border-top: 3px solid $colorPrincipal;
    border-right: 3px solid $colorPrincipal;
    border-radius: 0px 30px;
}

.pilotos1{
    grid-column: 1/2;
    grid-row: 2/3;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.pilotos2{
    grid-column: 2/3;
    grid-row: 2/3;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.LogoE{
    grid-column: 4/5;
    grid-row: 1/2;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.AutosE{
    grid-column: 3/5;
    grid-row: 2/3;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.NombreE{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}