@media(max-width:768px){
    .logoDelSitio{
        background-color: $colorSecundario;
        width: 100%;
        height: 100px;
        padding: 30px;
        flex-wrap: wrap; 
    }
    
    .logoDelSitio a img{
        width: 200px;
        height: 50px;
    }
    
    .menu{
        list-style: none;
        background-color: $colorPrincipal;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .menu li a{
        font-size: map-get($tam-fuente, tam5);
        text-decoration: none;
        color: white;
    }

    .paginaPrincipal{
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    .pie1{
        display: flex;
        background-color:rgb(44, 44, 44);
        width: 100%;
        height: 50px;
        align-items: center;
    }
    .pie1 img{
        width: 30px;
        height: 30px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .f1Play img{
        height: 50px;
        width: 100px;
    }
    
    .f1Play2 img{
        height: 50px;
        width: 100px;
    }

    .PilotosClasificacion tr th{
        padding: 5px;
        padding-top: 15px;
        font-size: map-get($tam-fuente, tam5);
        font-style: italic;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-bottom: solid $colorSecundario;
        justify-items: center;
    }
    
    .PilotosClasificacion tr td{
        font-size: map-get($tam-fuente, tam5);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-bottom: 0.5px solid $colorSecundario;
        padding: 15px;
    }

    .EscuderiasClasificacion tr th{
        font-size: 16px;
        font-style: italic;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-bottom: solid $colorSecundario;
        justify-items: center;
    }
    
    .EscuderiasClasificacion tr td{
        font-size: map-get($tam-fuente, tam5);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-bottom: 0.5px solid $colorSecundario;
        padding: 15px;
    }

    .circuitos{
        height: 90px;
        width: 120px;
    }
    
    .calendario_2024{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(12,1fr);
        justify-items: center;
        object-fit: contain;
        row-gap: 10px;
        column-gap: 10px;
        padding-bottom: 40px;
    }
    
    .linea_vertical1{
        grid-column: 1/2;
        grid-row: 1/13;
        height: 100%;
        width: 3px;
        justify-self: right;
        background-color: $colorPrincipal;
    }
    
    .linea_vertical2{
        grid-column: 1/2;
        grid-row: 1/13;
        height: 100%;
        width: 3px;
        justify-self: right;
        background-color: $colorPrincipal;
    }

    .bahrain{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .arabia{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .australia{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .japon{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .china{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .miami{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .imola{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .monaco{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 4/5;
    }
    
    .canada{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .españa{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 5/6;
    }
    
    .austria{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 6/7;
    }
    
    .granBretaña{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 6/7;
    }
    
    .hungria{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 7/8;
    }
    
    .belgica{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 7/8;
    }
    
    .holanda{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 8/9;
    }
    
    .italia{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 8/9;
    }
    
    .baku{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 9/10;
    }
    
    .singapur{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 9/10;
    }
    
    .eeuu{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 10/11;
    }
    
    .mexico{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 10/11
    }
    
    .brasil{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 11/12;
    }
    
    .lasVegas{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 11/12;
    }
    
    .qatar{
        object-fit: contain;
        grid-column: 1/2;
        grid-row: 12/13;
    }
    
    .abuDhabi{
        object-fit: contain;
        grid-column: 2/3;
        grid-row: 12/13;
    }

    .equipos h2{
        font-size: map-get($tam-fuente, tam3);
        text-align: center;
    }

    .pilotos{
        width: 77px;
        height: 78px;
    }

    .AutosE{
        width: 260px;
        height: 60px;
    }

    .NombreFP{
        font-size: map-get($tam-fuente, tam5);
    }

    .texto1 p{
        font-size: map-get($tam-fuente, tam4);
    }

    .texto2 p{
        font-size: map-get($tam-fuente, tam3);
    }

    .TituloReg{
        font-size: map-get($tam-fuente, tam2);
    }
}

